@using BootstrapSite4.Model
@using BootstrapSite4.Helper
@model List<PullRequestModel>
@if (Model.Any())
{
    foreach (var pul in Model)
    {
        <div class="border border-secondary rounded pull-request">
            <div class="border-bottom">
                <img class="avatar" src="@pul.Author.GetUserAvatarUrl()">
                <a href="mailto:@pul.Author.Email">@pul.Author.Name</a>
                создал pull-request <a href="@pul.PullRequestUrl">#@pul.PullRequestNumber</a>
                <span class="pull-request-date"> @pul.PullRequestDate</span>
            </div>
            @if (!string.IsNullOrWhiteSpace(pul.Description))
            {
                <div class="border border-light rounded bg-light" style="margin:10px;padding:10px;">
                    @pul.Description
                </div>
            }
            @if (pul.IsAttachment())
            {
                <div style="margin:10px;padding:10px;">
                    @pul.GetAttachment()
                </div>
            }
            <div>
                <span class="border-bottom text-success">Активность</span>
                @foreach (var act in pul.Actives)
                {
                    <div class="row ustify-content-start border-bottom activities ">
                        <div class="col-3 ">
                            <span class="badge badge-secondary">@act.Action</span>
                            <img class="avatar" src="@pul.Author.GetUserAvatarUrl()">
                            <a href="mailto:@pul.Author.Email">@act.Author.Name</a>
                            <span class="badge badge-light">@act.Date</span>
                        </div>
                        <div class="col-8 offset-1">
                            @act.GetAttachment()
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}