@using BootstrapSite4.Model
@model PageModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Html.Partial("Partials/MenuPartial", Model.Projects)
<div id="page-content-wrapper">
    <div class="container-fluid">
        @if (!Model.IsProjectSelected())
        {
            <a href="#menu-toggle"  class="btn btn-secondary" id="menu-toggle">Проекты: не выбран</a>
        }
        else
        {
            @Html.Hidden("lazyurl", @Url.Action("lazyload", "Home", new { key = Model.GetSelectedProjectKey() }))
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Проекты: @Model.GetSelectedProjectName()</a>
        }
        <div id="pull-requests">
            @if (Model.PullRequests != null)
            {
                if (!Model.PullRequests.Any())
                {
                    <h2>Нечего показывать</h2>
                }
                else
                {
                    @Html.Partial("Partials/ContentPartial", Model.PullRequests)
                }
            }
        </div>
    </div>
</div>
