@model BootstrapSite4.pageModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Html.Partial("Partials/MenuPartial", Model.projects)
<div id="page-content-wrapper">
    <div class="container-fluid">
        @if (!Model.projects.Where(w => w.Selected).Any())
        {
            <a href="#menu-toggle"  class="btn btn-secondary" id="menu-toggle">Проекты: не выбран</a>
        }
        else
        {
            @Html.Hidden("lazyurl", @Url.Action("lazyload", "Home", new { key = Model.projects.Where(w => w.Selected).First().Key }))
            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Проекты: @(Model.projects.Where(w => w.Selected).First().Name)</a>
        }
        <div id="pull-requests">
            @if (Model.pullrequests != null)
            {
                if (!Model.pullrequests.Any())
                {
                    <h2>Нечего показывать</h2>
                }
                else
                {
                    @Html.Partial("Partials/ContentPartial", Model.pullrequests)
                }
            }
        </div>
    </div>
</div>
